body {

    background-color: rgb(16, 17, 53);
    color: rgb(115, 141, 163);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    
}


.container {
    margin-top: 10px; 
}

.meu-botao {
    padding: 10px 10px;
    font-size: 10px;
    color: rgb(115, 127, 153);
    background-color: blue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.meu-botao:hover {
    background-color: darkblue;
}

footer {

background-color: rgb(46, 37, 97);
color: rgb(63, 89, 112);
position: fixed;
bottom: 0%;
width: 90%;
}

footer p{
    text-align: center;
 font-size: 0.9rem;
 margin-top:0.7;
}

.meu-botao {
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(85, 88, 138);
    background-color: blue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.meu-botao:hover {
    background-color: darkblue;
}